.moving-text {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }
 
  .moving-text span {
    display: inline-block;
    animation: moveText 10s linear infinite;
  }
 
  @keyframes moveText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }